.PelotaTitulo {
  height: 6vmin;
}

.PelotaLoad {
  height: 6vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .PelotaTitulo {
    animation: Pelota-spin infinite 6s linear;
    max-width: 100%;
    align-self: center;
    margin-right: 2px;
  }
  .PelotaLoad {
    animation: Pelota-spin infinite 6s linear;
    max-width: 100%;
    align-self: center;
    margin-right: 2px;
  }
}

@keyframes Pelota-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
